.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:4% ;
}


.result-img {
    width: 200px;
    object-fit: cover;
    border-radius:100%
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 500px;
    width: auto;
    border-radius: 40px;
}

.result-title {
    margin: 20px;
    font-size: 32px;
}

.result-text{
    margin: 40px;
    user-select:all
}

.result-btn{
    position: relative;
    display: flex;
    width: 220px;
    margin: 10px;
    margin-bottom:20px ;
    height: 60px;
    font-size: 30px;
    cursor:pointer;
    border: 2px solid #537fe78a;
    background-color:#1F252C;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    min-width: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}