@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body,html {
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  height: 100%;
  user-select: none;
  font-family: 'Nunito', sans-serif;
}

.intro{
  width: 100%;
  height: 961px;
  background-image: url("zzz.jpg");
}

/* Intro text animation*/

.text-container {
  position: absolute;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  animation:intro 6s ease-out 1s;
  top: 40%;
  left: 35%;
  opacity: 0;
}


@keyframes intro {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/* Intro image animation*/

.swLogo {
  position: absolute;
  width: auto;
  height: 250px;
  animation: logo 9s ease-out 9s;
  top: 35%;
  left: 39%;
  opacity: 0;
  user-select: none;
}

@keyframes logo {
  0% {
      transform: scale(2.75);
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: scale(0.1);
  }
}

.question-content {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
  z-index: 121;
}

.container {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
  color:#FFFF82;
}


@keyframes scroll {
  0% {
      top: 100%;
  }
  90% {
    opacity: 0;
  }
  100% {
      top: -170%;
      opacity: 1;
  }
}

.question-tab {
  position: relative;
  width: 100%;
  height: 961px;
  background-color: rgba(14, 14, 14, 0.788);
  background-image: url("https://s.ltrbxd.com/static/img/content-bg.0d9a0f0f.png");
  background-repeat:repeat ;
  background-size: auto 100%;

}

.question-container{
  position: relative;
  left: 23%;
  top: 12%;
  width: 1000px;
  height: 600px;
  background-color: rgb(233, 248, 249);
  border-radius: 50px;
}


.question{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-text{
  font-size: 52px;
  margin: 40px;
  
}

.btn-container{
  display: flex;
  flex-direction: column;
}

.btn{
  width: auto;
  height: 50px;
  font-size: 32px;
  margin: 15px;
  background-color: transparent;
  cursor:pointer;
  display:inline-block;
  border: none;
  border: 2px solid #537fe78a;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  min-width: 200px;
}

.btn:hover{
  border: 2px solid #537fe7;
  box-shadow: 1px 1px 5px rgb(189, 189, 189);
}

.btn:after {
  position: relative;
  top: 5px;
  display:block;
  content: '';
  border-bottom: solid 6px #3C84AB;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.btn:hover::after { transform: scaleX(0.7); }


.underline{
  margin: 5px;
  display: flex;
  position: relative;
  left: 20%;
  width: 60%;
  height: 5px;
  background-color:#3C84AB;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 4%;
  padding: 10px;
}

.questionId{
  width: 40px;
  font-size:40px;
  color:#3C84AB;
  text-align: center;
}

.changeQuestion{
  background-color: transparent;
  border: none;
  font-size: 50px;
  margin-left: 7px;
  margin-right:7px ;
  color:#3C84AB ;
}

.navbar{
  background-color: #14181C;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.navbar-text {
  position: relative;
  top: 20%;
  left: 15%;
  color: white;
  font-size: 40px;
  width: fit-content;
}

.dw{
  position: relative;
  width: 70px;
  height: 70px;
  left: 13%;
  top: 12%;
  margin: 0px;
}